// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary      : #cc883e;
$secondary    : #097f4f;
$accent       : #cc3ec0;

$dark         : #4d2a16;
$secondaryDark: #005a59;

$blandground  : #e7ddd2;
$negative     : #C10015;
$info         : #31CCEC;
$warning      : #F2C037;

$warrior      : #691e20;
$warriorlite  : #e08689;
$warlock      : #4f3857;
$shaman       : #1b2580;
$rogue        : #2f303b;
$priest       : #b0b4ba;
$paladin      : #b87926;
$mage         : #5f6f9d;
$hunter       : #416122;
$druid        : #6a3a27;
$demonhunter  : #1a3732;